annotated-types==0.7.0
anyio==4.12.1
click==8.3.1
fastapi==0.115.6
greenlet==3.3.1
h11==0.16.0
httptools==0.7.1
idna==3.11
orjson==3.10.10
psycopg2-binary==2.9.9
pydantic==2.9.2
pydantic-settings==2.6.1
pydantic_core==2.23.4
python-dotenv==1.2.1
python-multipart==0.0.12
PyYAML==6.0.3
SQLAlchemy==2.0.36
starlette==0.41.3
typing_extensions==4.15.0
uvicorn==0.30.6
uvloop==0.22.1
watchfiles==1.1.1
websockets==16.0
